html, body {
    overflow-x: hidden;
}
.news-app-container {
    .top-navbar {
        .date {
            margin-left: 10px;
            font-size: 14px;
        }
    }
    .sub-header {
        background-color: #D3D3D3;
    }
    .main-content {
        background-color: #f6f6f6;
        height: calc(100vh - 91px);
        overflow-y: auto;
        padding-left: 20px;
    }
}