.news-app-container {
    .top-navbar {
        .date {
            margin-left: 10px;
            font-size: 14px;
        }
    }
    .main-content {
        background-color: #f6f6f6;
        height: calc(100vh - 56px);
        overflow-y: auto;
    }
}