// Common styles to use across components
$dark: #212529;

.bold {
    font-weight: bold;
}

.form-control:focus {
    border-color: $dark;
    box-shadow: none;
}

.custom-button.white {
    color: #ffffff;
    border-color: #ffffff;
}

.custom-button.white:active, .custom-button.white:hover, .custom-button.white:focus, .custom-button.black:focus {
    background-color: inherit;
    box-shadow: none;
}

.custom-button.black {
    color: $dark;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-4 {
    margin-left: 4px;
}

.text-right {
    text-align: right;
}

.height-100pc {
    height: 100%;
}

.text-left {
    text-align: left;
}